@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Urbanist", serif;
}

/* Desktop Styling */
.nav-wrapper{
    display: flex;
    align-items: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
    align-items: center;
    height: 112px;
}

.nav-logo{
    width: 172.14px;
    height: 48px;
}

.nav-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style-type: none;
    align-items: center;
    gap: 40px;
}

.nav-link{
    text-decoration: none;
    color: #1D1E25;
    font-size: 16px;
}

.button{
    padding: 14px 29px;
    background-color: #4759F9;
    border: 0px solid;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Desktop Typography Styling */
    .body-para{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .h1-heading{
        font-size: 64px;
        font-weight: 800;
        line-height: 70px;
    }

    .lead-para{
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
    }


/* Color Styling */
    .accent{
        color: #4759F9;
    }

    .accent-2{
        background-color: #FEAE37;
    }

    .white {
        color: white;
    }

    .text-1{
        color: #1D1E25;
    }

    .text-2{
        color: #454C5D;
    }


/* Hero Section */
.hero-section{
    width: 100%;
    height: 872px;
    position: relative;
}

.hero-bg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
}

.hero_component{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: start;
    padding-top: 111px;
    z-index: 2;
}

.hero-text-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-main-text{
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.hero-text-top{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-tag-wrap{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.hero-tag{
    padding: 4px 16px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-h1-wrap{
    max-width: 640px;
}

.hero-subtext{
    max-width: 533px;
}

.hero-btn-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.hero-btn{
    width: 196px;
    height: 64px;
}

.hero-image-wrap{
    width: 40%;
    z-index: 2;
}

.hero-image{
    width: 100%;
}