@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Urbanist", serif;
}

/* Desktop Styling */
.notice {
    display: none;
}

.nav-wrapper{
    display: flex;
    align-items: center;
    padding: 0px 24px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
    align-items: center;
    height: 112px;
}

.nav-logo{
    width: 172.14px;
    height: 48px;
}

.nav-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style-type: none;
    align-items: center;
    gap: 40px;
}

.nav-link{
    text-decoration: none;
    color: #1D1E25;
    font-size: 16px;
}


/* Button Styling */
    .button{
        padding: 14px 29px;
        background-color: #4759F9;
        font-weight: 600;
        border: 0px solid;
        color: white;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
    }

    .is-alt {
        background-color: white;
        color: #1D1E25;
    }

/* Desktop Typography Styling */
    .small-para {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    .body-para{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .lead-para {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
    }

    .h1-heading{
        font-size: 64px;
        font-weight: 800;
        line-height: 70px;
    }

    .h2-heading {
        font-size: 56px;
        font-weight: 700;
        line-height: 65px;
    }

    .h3-heading {
        font-size: 40px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: -0.88px;
    }

    .h4-heading {
        font-size: 38px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -1px;
    }

    .h5-heading {
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -1px;
    }

    .h6-heading {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }

    

    


/* Color Styling */

    /* Typography */
        .accent{
            color: #4759F9;
        }

        .white {
            color: white;
        }
    
        .text-1{
            color: #1D1E25;
        }
    
        .text-2{
            color: #454C5D;
        }

        .grey {
            color: #DCDFFF;
        }

        .grey-2 {
            color: #F4F5FF;
        }

        .accent-blue {
            color: #4759F9;
        }

        .accent-2 {
            color: #FEAE37;
        }

    /* Background */
        .bg-accent-2{
            background-color: #FEAE37;
        }

        .bg-grey-2 {
            background-color: #F4F5FF;
        }

        .bg-success {
            background-color: #EFFBF7;
        }

        .bg-white {
            background-color: white;
        }

        .bg-grey {
            background-color: #DCDFFF;
        }

        .bg-accent-light {
            background-color: #FFFAF3;
        }

        .bg-blue {
            background-color: #4759F9;
        }
    

    

/* Hero Section */
.hero-section{
    width: 100%;
    /* height: 1043px; */
    position: relative;
    padding: 112px 24px 56px 24px;
}

.hero-bg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
}

.hero_component{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: start;
}

.hero-text-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 2;
}

.hero-main-text{
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.hero-text-top{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-tag-wrap{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.hero-tag{
    padding: 4px 16px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-h1-wrap{
    max-width: 640px;
}

.hero-subtext{
    max-width: 533px;
}

.hero-btn-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.hero-btn{
    width: 196px;
    height: 64px;
}

.hero-image-wrap{
    width: 40%;
    z-index: 2;
}

.hero-image{
    width: 100%;
    max-width: 454px;
    margin: 0px auto;
}


/* feature-section styling */
.feature-section{
    padding: 112px 24px;
}

.features_component{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.features-card {
    padding: 72px 64px;
    border-radius: 17.54px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
}

.feature-card-item {
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    grid-column-start: 2;
    grid-row-start: 1;
}

.features-card-icon {
    width: 129px;
    height: 128px;
}

/* Why section */

.why-section {
    padding: 112px 24px;
}

.why_component {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.why-title {
    width: 100%;
    max-width: 630px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.why-plan-table-wrap {
    width: 100%;
    max-width: 886px;
    position: relative;
}

.why-plan-table {
    width: 100%;
}

.why-plan-card-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.why-plan-vs-wrap {
    position: absolute;
    z-index: 3;
    bottom: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.why-plan-vs {
    width: 79px;
    height: 79px;
    border-radius: 999px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* VS text styling */
    font-size: 30px;
    font-weight: 700;
}

.why-plan-shadow-wrap {
    position: absolute;
    bottom: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.why-plan-shadow {
    position: absolute;
    width: 210px;
    height: 210px;
    border-radius: 999px;
    background: #4759F9;
    border: 1px solid #4759F9;
    filter: blur(200px);
}

.table-head {
    margin-bottom: 32px;
    font-size: 30px;
    font-weight: 700;
}

.why-plan {
    padding: 48px 56px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    z-index: 2;

}

.plan-shadow {
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.07);
}

.plan-right {
    margin-left: 24px;
}

.plan-left {
    margin-right: 24px;
}

.why-list-wrap {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.why-list-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 16px;
}

/* Benefit section */
.benefit-section {
    padding: 112px 24px;
}

.benefit_component {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.benefit-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 630px;
    gap: 40px;
}

.benefit-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.benefit-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    padding: 32px;
    border-radius: 8px;
}

.benefit-icon {
    width: 64px;
    height: 64px;
}

.benefit-card-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

/* Paid Section */
.section-paid {
    padding: 40px 24px 0px 24px;
    overflow: hidden;
}

.paid_component {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.paid-img-wrap {
    width: 100%;
    position: relative;
}

.paid-image {
    width: 100%;
    position: relative;
    bottom: -5px;
    z-index: 2;
}

.paid-bg-element {
    position: absolute;
    width: 884px;
    top: 0px;
    left: 0px;
}

.paid-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: center;
    gap: 40px;
    position: relative;
    z-index: 2;
}

.paid-content-top {
    width: 100%;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.paid-user-wrap {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.paid-user-images {
    width: 72px;
    height: 24px;
}

/* Feedback section */
.feedback-section {
    padding: 112px 24px;
    overflow: hidden;
}

.feedback_component {
    display: flex;
    flex-direction: column;
    gap: 72px;
    position: relative;
}

.feedback-title {
    display: flex;
    flex-direction: column;
    justify-self: right;
}

.feedback-slide {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.feedback-slide {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.feedback-slide-content {
    width: 60%;
    min-height: 428.06px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

.testimonial-icon {
    width: 81px;
    height: 41px;
}

.testimonial-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.slider-control {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 8px;
}

.slider-dot {
    width: 14.06px;
    height: 14.06px;
    border-radius: 999px;
}

.testimonial-img {
    height: 393px;
    position: absolute;
    right: -7%;
    bottom: 0;
}

/* Faq section */
.faq-section {
    padding: 112px 24px;
}

.faq_component {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 72px;
    width: 100%;
    max-width: 1064px;
    margin: 0px auto;
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.faq-separator {
    border: none;
    height: 1px;
}

.faq-item {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.faq-question {
    display: flex;
    flex-direction: column;
    gap:12px;
    width: 100%;
}

.faq-toggle {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0px;
}

/* Press Section */
.press-section {
    padding: 112px 24px;
}

.press_component {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.press-title {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 630px;
    text-align: center;
}

.press-card-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.press-card {
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
}

.press-card-image-wrap {
    width: 100%;
    height: 362px;
    border-radius: 16px;
    overflow: hidden;
}

.press-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.press-card-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}


/* Footer */
.footer {
    padding: 256px 24px 32px 24px;
    margin-top: 118px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer-banner-wrap {
    position: absolute;
    width: 100%;
    align-items: center;
    bottom: 280px;
    left: 0px;
}

.footer-banner {
    padding: 80px 48px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-radius: 32px;
    align-items: center;
}

.footer-banner-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-button-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 24px;
}

.footer-main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.footer-logo {
    width: 208px;
    height: 58px;
}

.footer-link-wrap {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.footer-link {
    list-style: none;
    font-size: 16px;
    font-weight:700;
    line-height: 20px;

    a {
        text-decoration: none;
    }
}

.footer-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 33px;
    border-top: #6C7AFA solid 1px;
}

.footer-oth-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

.footer-oth-link {
    text-decoration: none;
}

.social-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}





/* Tablet */
@media (max-width:1140px) {
    body {
        background-color: #4759F9;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding: 24px;
    }

    .nav-wrapper {
        display: none;
    }

    main {
        display: none;
    }

    .notice {
        display: block;
        font-size: 24px;
        text-align: center;

    }
}